table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table-headers th{
    border-bottom: solid .0625rem black;
    height: 2.75rem;
}
table tr td{
    padding: 0.1rem;
}
.calendar-slot:hover{
    background-color: #cccccc;
}