/*
Calendar Buttons
 */
.fc .fc-button-primary{
    background-color: rgba(255, 255, 255, 0.38);
    color: black;
}
.fc .fc-button-primary:hover{
    background-color: rgb(92, 108, 98);
    color: #6f171b;
}
.fc .fc-button-primary:focus:active{
    background-color: rgb(92, 108, 98);
    color: #6f171b;
}
.fc .fc-button-primary:disabled{
    background-color: rgba(189, 189, 189, 0.54);
    border-style: none;
    color: white;
}
/*
Calendar Events
 */
.fc-h-event{
    background-color: transparent;
}

.CalenderEvent_event-item__i6X53{
    height: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

/*
Current Day Flag
 */
.fc .fc-daygrid-day.fc-day-today{
    background-color: rgba(92, 108, 98, 0.39);
}