.event-item{
    height: 2rem;
    width: 100%;
    overflow: hidden;
}

.event-item button{
    width: 100%;
    background-color: transparent;
    border: none;
}
.event-item.high-demand{
    border: 2px solid rgba(111, 23, 27, 0.47);
}
.event-item.medium-demand{
    border: 2px solid rgba(250, 178, 50, 0.56);
}.event-item.no-demand{
     border: 2px solid rgba(63, 133, 92, 0.55);
 }
.event-title{
    display: flex;
    justify-content: left;
}
.event-title b{
margin-left: .5rem;
}
.event-dropdown-menu{
    border: 1px solid black;
}