/*
Calendar Buttons
 */
.fc .fc-button-primary{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid rgba(44, 44, 44, 0.83);
    color: rgba(44, 44, 44, 0.83);
}
.fc .fc-button-primary:hover{
    background-color: rgb(92, 108, 98);
    color: #6f171b;
}
.fc .fc-button-primary:focus:active{
    background-color: rgb(92, 108, 98);
    color: #6f171b;
}
.fc .fc-button-primary:disabled{
    background-color: rgba(189, 189, 189, 0.54);
    border-style: none;
    color: white;
}
/*
Responsive Calendar Title and Button
 */
@media screen and (max-width: 992px) {
    .fc .fc-toolbar-title {
        font-size: 1rem;
    }
    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: .5em;
    }
    .fc .fc-button-primary{
       font-size: 1rem;
        padding: .2rem;
        min-width: 2.5rem;
        line-height: 1;
    }
}
/*
Calendar Events
 */
.fc-h-event{
    background-color: transparent;
}

.CalenderEvent_event-item__i6X53{
    height: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}
.fc-daygrid-day-events{
  margin-bottom: .5rem!important;
}

/*
Current Day Flag
 */
.fc .fc-daygrid-day.fc-day-today{
    background-color: rgba(92, 108, 98, 0.39);
}