.employee-list{
    overflow-y: scroll;
    max-height: 25rem;
    margin-bottom: 5px;
}
.select-container {
    display: inline-flex;
    width: 100%;
    border-radius: 5px;
    height: 3.5rem;
}
.select-container .employee-select {
    width: 100%;
}
.select-container button{
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(92, 108, 93, 0.38);
}
.assign-action-container{
    display: flex;
    justify-content: flex-end;
    min-height: 3.5rem;
}