.header {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.header button{
    position: absolute;
    top: 5px;
    right: 10px;
}


.form-body {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    justify-items: center;
}

.footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.footer button{
 width: 90%;
}
.tab-item{
    font-weight: bold!important;
    font-size: 1.25rem!important;
}
