body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #20232a;
  font-family: Muli,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
main{
  padding: 5rem 1rem 0rem 1rem;
}
@media screen and (max-width: 992px) {
  main {
    padding: 4.4rem 0rem 0rem 0rem;
  }
}
/*
Overwriting bootstrap styling
 */
a{
  color: black!important;
  text-decoration: none!important;
}
.nav-link{
  color: #6f171b!important;
}
.nav-link.active{
  color: #000000 !important;
}